@media screen and (min-width: 850px) and (max-width: 1000px) {
    nav{
        width: 100vw;
        height: 630px;
        background: url('./img/bg.jpg');
        background-repeat: no-repeat;
    }
    #logo{
        top: 50px;
        left: 40px;
        width: 150px;
        height: 150px;
    }
    #p1{
        top: 220px;
        left: 40px;
        font-size: 36px;
    }
    #p2{
        top: 290px;
        left: 40px;
        width: 70%;
        font-size: 22px;
        line-height: 30px;
    }
    #p3{
        top: 450px;
        left: 40px;
        font-size: 25px;
        padding: 12px 50px;
        border-radius: 50px;
    }
    #d1{
        width: 100vw;
        height: 60vh;
    }
    #p4{
        top: 100px;
        font-size: 40px;
        width: 70%;
    }
    #p5{
        top: 220px;
        font-size: 22px;
        line-height: 35px;
        width: 60%;
    }
    #g1{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0px 30px;
    }
    .g11{
        text-align: center;
        padding: 50px 0px;
    }
    .gm{
        bottom: -50px;
        left: 40%;
        width: 20%;
        height: 100px;
        margin-bottom: 20px;
    }
    .p6{
        margin-bottom: 20px;
        padding: 30px 50px 0px 0px;
        font-size: 35px;
    }
    .p7 {
        line-height: 4.125vw;
        font-size: 22px;
        width: 80%;
        padding-left: 50px;
      }
    
      .p8 {
        margin: 20px 0;
        padding: 0px 50px 0px 0px;
        font-size: 22px;
      }
    
      .g112 {
        padding: 20px 10px 20px 60px;
        background-color: white;
        border-radius: 2.5%;
      }
    
      .d1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 3000px;
    
      }
    
      .d11 {
        padding: 30% 10%;
      }
    
      .d112{
        padding-left: 10%;
      }
    
      .p91 {
        font-size: 3rem;
        width: 80%;
        color: #373737;
        font-family: "Lexend Deca", sans-serif;
        letter-spacing: 0.1rem;
        padding-bottom: 10%;
      }
    
      .p92 {
        font-size: 03.2rem;
        line-height: 120%;
        width: 90%;
        color: gray;
        padding-bottom: 10%;
      }
    
      .p93 {
        width: 60%;
        text-align: center;
        padding: 0.5rem 1rem;
        color: aliceblue;
        background-image: linear-gradient(to left, rgb(68, 173, 219), #005ad5);
        border-radius: 1rem;
        font-size: 50px;
    
      }
    
      .p10 {
        margin: 5vh 10vh;
        font-size: 30px;
      }
    
      .p11 {
        line-height: 140%;
        margin: 5vh 10vh;
        font-size: 23px;
      }
    
      .gm1 {
        width: 15%;
        height: 15%;
        left: 5%;
        top: 0%;
      }
      .foo{
        width: 100%;
        height: 50vh;
      }
      .kk{
        margin: 0%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
      }
      .k ul li{
        list-style: none;
        padding-top: 50px;
        font-size: 20px;
        padding-left: 50px;
      }
      .last{
        text-align: center;
        font-weight: bold;
        margin-top: 200px;
      }
}